@using Budmar_app.ViewModels.EmployeeViewModels;
@model IEnumerable<Budmar_app.ViewModels.EmployeeViewModels.EmployeeViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="title-header">
    <div class="row">
        <div class="col-xl-6 col-md-12">
            <h1>Pracownicy</h1>
        </div>
        <div class="col-xl-6 col-md-12 text-end header-button">
            <a asp-action="Create" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#create-employee-modal"><i class="bi bi-plus"></i> Dodaj pracownika</a>
        </div>
    </div>
</div>


<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Strona główna</a></li>
            <li class="breadcrumb-item active" aria-current="page">Pracownicy</li>
        </ol>
    </nav>
</div>

<table class="table table-light table-hover">
    <thead class="table-dark">
        <tr>
            <th class="align-middle" scope="col">#</th>
            <th class="align-middle" scope="col">@Html.DisplayNameFor(m => m.FirstName)</th>
            <th class="align-middle" scope="col">@Html.DisplayNameFor(m => m.LastName)</th>
            <th class="align-middle" scope="col">@Html.DisplayNameFor(m => m.HourlyWage)</th>
            <th class="align-middle col-3 text-center" scope="col">Opcje</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @{
            int rowNumber = 0; 
        }
        @foreach (var employee in Model)
        {
            <tr>
                <th class="align-middle" scope="row">@{
                        rowNumber++;
                    } @rowNumber</th>
                <td class="align-middle">@Html.DisplayFor(m => employee.FirstName)</td>
                <td class="align-middle">@Html.DisplayFor(m => employee.LastName)</td>
                <td class="align-middle">
                    <span style="font-size: 18px" class="badge rounded-pill text-bg-success">
                        @Html.DisplayFor(m => employee.HourlyWage) SEK
                        </span>
                </td>
                <td class="align-middle text-center">
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-info"><a asp-action="Details" asp-route-id="@employee.Id" style="text-decoration: none; color:black"><i class="bi bi-info-square"></i> Info</a></button>
                        <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i> Usuń</button>
                    </div>                  
                </td>
            </tr>
        }
    </tbody>
</table>


@await Component.InvokeAsync("CreateEmployee", new EmployeeViewModel())

